footer
    #tear
    #footer-content
        #project-partners
            a(id='newcastle-logo' href='http://www.ncl.ac.uk' target='blank')
            a(id='twam-logo' href='http://www.twmuseums.org.uk' target='blank')
            a(id='gnm-logo' href='http://www.twmuseums.org.uk/greatnorthmuseum' target='blank')
            a(id='jisc-logo' href='http://www.jisc.ac.uk' target='blank')
        #footer-menu
            ul.list-unstyled
                li: a(href='/#!/about') About Us
                li: a(href='/#!/providers') Data Providers
                li: a(href='/#!/faq') FAQ
                li: a(href='/#!/contact') Contact Us
    //AngularJS
    script(type='text/javascript', src='/lib/angular/angular.js')
    script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
    script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
    script(type='text/javascript', src='/lib/angular-route/angular-route.js')

    //Angular UI
    script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
    script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.min.js')

    //Libraries
    script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/lib/underscore/underscore-min.js')
    script(type='text/javascript', src='/lib/underscore.string/dist/underscore.string.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCsWx-JkJJuaLuADPoA7yCWTr4Pl4xwfLA&sensor=false')
    script(type='text/javascript', src='/lib/angular-google-maps/dist/angular-google-maps.js')
    script(type='text/javascript', src='/lib/angular-slider/angular-slider.min.js')
    script(type='text/javascript', src='/lib/ngInfiniteScroll/ng-infinite-scroll.js')
    script(type='text/javascript', src='/lib/timeline.js/build/js/storyjs-embed.js')

    //Application Init
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/config.js')
    script(type='text/javascript', src='/js/directives.js')
    script(type='text/javascript', src='/js/filters.js')

    //Application Services
    script(type='text/javascript', src='/js/services/global.js')
    script(type='text/javascript', src='/js/services/utilities.js')
    script(type='text/javascript', src='/js/services/artefacts.js')
    script(type='text/javascript', src='/js/services/categories.js')
    script(type='text/javascript', src='/js/services/megalithic.js')
    script(type='text/javascript', src='/js/services/materials.js')
    script(type='text/javascript', src='/js/services/periods.js')
    script(type='text/javascript', src='/js/services/domesday.js')

    //Application Controllers
    script(type='text/javascript', src='/js/controllers/artefacts.js')
    script(type='text/javascript', src='/js/controllers/categories.js')
    script(type='text/javascript', src='/js/controllers/materials.js')
    script(type='text/javascript', src='/js/controllers/periods.js')
    script(type='text/javascript', src='/js/controllers/map.js')
    script(type='text/javascript', src='/js/controllers/index.js')
    script(type='text/javascript', src='/js/controllers/timeline.js')
    script(type='text/javascript', src='/js/controllers/header.js')
    script(type='text/javascript', src='/js/init.js')

    if (process.env.NODE_ENV == 'development')
        //Livereload script rendered
        script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')