<section id="providers">
	<section class="provider" id="twam">
		<div class="logo"></div>
		<h1>Tyne and Wear Archives & Museums</h1>
		<p>Tyne & Wear Archives & Museums (TWAM) is a major regional museum, art gallery and archives service. They manage a collection of 12 museums and galleries across Tyne and Wear, supported by the five local authorities of the area. TWAM is also a Major Partner Museum funded by Arts Council England and has Core Funded Museum status.</p>
		<p>TWAM hold collections of international importance in archives, art, science and technology, archaeology, military and social history, fashion and natural sciences.</p>
		<p>Follow Discovery Museum on Twitter at <a href="http://twitter.com/Discovery_Mus" target="_blank">@Discovery_Mus</a></p>
		<p>Follow Great North Museum on Twitter at <a href="http://twitter.com/GNM_Hancock" target="_blank">@GNM_Hancock</a></p>
	</section>
	<section class="provider" id="megalithic">
		<div class="logo"></div>
		<h1>The Megalithic Portal</h1>
		<p><a href="mailto:andy@megalithic.co.uk" target="_blank">Andy Burnham</a> created the Megalithic Portal site in 2001 and runs it in a voluntary capacity. It is funded as a non-profit making independent society with membership and a committee. Over the years, this project has become a major team effort with input from thousands of photographers, archaeologists, locals and visitors.
		<p>Many ancient sites are not protected in any way, and many have disappeared over the last 50 years or so under development and intensive agriculture. Even sites that are scheduled have limited real protection. Megalithic's aim is to document, publicise and protect these remaining sites. Day to day, the site is run by a team of voluntary editors and site administrators.</p>
	</section>
	<section class="provider" id="domesday">
		<div class="logo"></div>
		<h1>Open Domesday</h1>
		<p>Open Domesday is the first free online copy of Domesday Book. The site was built as a non-profit project by <a href="http://twitter.com/darkgreener" target="_blank">Anna Powell-Smith</a>, using data created by Professor J.J.N. Palmer and a team at the University of Hull.</p>
		<p>Work is underway to make a copyright-free, full-text Latin and English version of Domesday Book available as open data.</p>
		<p>The Domesday Book statistics underlying the site were originally collected during the 1990s to create the Domesday Explorer CD-ROM. The data was created by a team led by Professor John Palmer at the University of Hull, funded by the AHRC, and assisted by a Domesday Book translation provided by the publishers Phillimore & Co.</p>
		<p>Follow Open Domesday on Twitter at <a href="http://twitter.com/opendomesday" target="_blank">@opendomesday</a></p>
	</section>
</section>