<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="pull-left">Cutting Edge</h1>
        <div class="logos pull-right">
            <img src="../img/partners/gnm.png">
            <img src="../img/partners/newcastle.png">
        </div>
    </div>
    <!--<div id="user" class="col-md-8 col-md-offset-2">
        <div data-ng-hide="global.authenticated">
            <a class="pull-right" href="/signup">Register</a>
            <a class="pull-right" href="/signin">Sign In</a>
        </div>
        <div data-ng-show="global.authenticated">
            <span id="username">Welcome {{global.user.name}}</span>
            <span id="logout"><a id="menu-logout" href="/signout">[ Logout ]</a></span>
        </div>
    </div>-->
</div>
<div id="menu" class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
            <li>
                <a href="/">Home</a>
            </li>
            <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>
