<section data-ng-controller="ArtefactsController" data-ng-init="casestudies()">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 case-study-list">
            <div class="col-md-3 col-md-offset-1 case-study" data-ng-repeat="caseStudy in caseStudies">
                <a href="/#!/case-studies/{{caseStudy.id}}">
                    <img src="{{caseStudy.thumbnail}}" alt="{{caseStudy.simpleName}}" />
                    <h4><strong>{{caseStudy.simpleName}}</strong> {{caseStudy.findLocation.title}}</h4>
                </a>
            </div>
        </div>
    </div>
</section>