<section data-ng-controller="ArtefactsController" data-ng-init="findOne()" class="artefact">
    <section class="artefact-header row">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{artefact.simpleName}}</h1>
            <h3>{{artefact.findLocation.subtitle}}</h3>
        </div>
    </section>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <section class="artefact-menu row">
                <div class="col-md-3">
                    <a href="/#!/artefact/{{artefact.id}}/map/" class="artefact-menu-item">
                        <h2 class="glyphicon glyphicon-globe"></h2>
                        <h5>View On Map</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/#!/timeline/" class="artefact-menu-item">
                        <h2 class="glyphicon glyphicon-calendar"></h2>
                        <h5>View On Timeline</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="mailto:di.cuttingedge@gmail.com" class="artefact-menu-item">
                        <h2 class="glyphicon glyphicon-comment"></h2>
                        <h5>Ask A Question</h5>
                    </a>
                </div>
            </section>
            <section class="artefact-overview">
                <dl class="dl-horizontal">
                    <dt><h4>Overview</h4></dt>
                    <dd></dd>
                    <dt>Accession</dt>
                    <dd>{{artefact.accession}}</dd>
                    <dt>Category</dt>
                    <dd>{{artefact.category.name}}</dd>
                    <dt>Period</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="period in artefact.periods">
                                {{period.name}} ({{utilities.convertToEra(period.periodStart)}} to {{utilities.convertToEra(period.periodEnd)}})
                            </li>
                        </ul>
                    </dd>
                    <dt>Materials</dt>
                    <dd>{{artefact.caseStudy[3].value}}</dd>
                    <dt>Provenence</dt>
                    <dd>
                        <p>{{artefact.findLocation.title}}</p>
                        <p>{{artefact.findLocation.subtitle}}</p>
                    </dd>
                    <dt>Museum</dt>
                    <dd>{{artefact.currentLocation.title}}</dd>
                </dl>
            </section>
            <section class="artefact-description">
                <dl class="dl-horizontal dimensions">
                    <dt><h4>Descriptions</h4></dt>
                    <dd></dd>
                    <dt>Length</dt>
                    <dd>{{artefact.caseStudy[7].value}}mm</dd>
                    <dt>Width</dt>
                    <dd>{{artefact.caseStudy[8].value}}mm</dd>
                    <dt>Thickness</dt>
                    <dd>{{artefact.caseStudy[9].value}}mm</dd>
                    <dt>Weight</dt>
                    <dd>{{artefact.caseStudy[10].value}}g</dd>
                    <dt>Description</dt>
                    <dd>{{artefact.caseStudy[6].value}}</dd>
                </dl>
            </section>
            <section class="artefact-condition">
                <dl class="dl-horizontal analysis-report">
                    <dt><h4>Visual</h4></dt>
                    <dd></dd>
                    <dt>Condition</dt>
                    <dd>{{artefact.caseStudy[12].value}}</dd>
                    <dt>Surface</dt>
                    <dd>{{artefact.caseStudy[13].value}}</dd>
                    <dt>Colour</dt>
                    <dd>{{artefact.caseStudy[14].value}}</dd>
                </dl>
            </section>
            <section class="artefact-manufacture">
                <dl class="dl-horizontal analysis-report">
                    <dt><h4>Manufacture</h4></dt>
                    <dd></dd>
                    <dt>Casting Seams</dt>
                    <dd>{{artefact.caseStudy[15].value}}</dd>
                    <dt>Casting Defects</dt>
                    <dd>{{artefact.caseStudy[16].value}}</dd>
                    <dt>Grinding/Polishing</dt>
                    <dd>{{artefact.caseStudy[17].value}}</dd>
                    <dt>Hammering</dt>
                    <dd>{{artefact.caseStudy[18].value}}</dd>
                    <dt>Notching/Denting</dt>
                    <dd>{{artefact.caseStudy[19].value}}</dd>
                    <dt>Bending</dt>
                    <dd>{{artefact.caseStudy[20].value}}</dd>
                </dl>
            </section>
            <section class="artefact-usewear">
                <dl class="dl-horizontal analysis-report">
                    <dt><h4>Use Wear</h4></dt>
                    <dd></dd>
                    <dt>Use Striations</dt>
                    <dd>{{artefact.caseStudy[21].value}}</dd>
                    <dt>Blunting</dt>
                    <dd>{{artefact.caseStudy[22].value}}</dd>
                    <dt>Sharpening</dt>
                    <dd>{{artefact.caseStudy[23].value}}</dd>
                    <dt>Chipping/Cracking</dt>
                    <dd>{{artefact.caseStudy[24].value}}</dd>
                    <dt>Asymmetry</dt>
                    <dd>{{artefact.caseStudy[25].value}}</dd>
                    <dt>Other Use Marks</dt>
                    <dd>{{artefact.caseStudy[26].value}}</dd>
                    <dt>Post-Depositional</dt>
                    <dd>{{artefact.caseStudy[27].value}}</dd>
                </dl>
            </section>
            <section class="artefact-notes">
                <h4>Notes</h4>
                <p>{{artefact.caseStudy[28].value}}</p>
            </section>
        </div>
        <div class="col-md-4">
            <section id="artefact-images" class="artefact-images">
                <carousel interval="5000">
                    <slide data-ng-repeat="reference in artefact.references | filter:{contents:'JPEG/512'}" active="slide.active" onclick="$('#image-modal').modal('show');">
                        <img data-ng-src="{{reference.contents}}" style="margin:auto;width:540px;height:360px;">
                        <div class="carousel-caption"></div>
                    </slide>
                </carousel>
            </section>
            <section class="analysis">
                <h4>Analysis</h4>
                <p>{{artefact.caseStudy[29].value}}&nbsp;</p>
                <h4>Interpretation</h4>
                <p>{{artefact.caseStudy[30].value}}&nbsp;</p>
            </section>
            <section class="artefact-references">
                <h4>References</h4>
                <div class="row">
                    <div class="col-md-3" data-ng-repeat="reference in artefact.references | filter:{contents:'JPEG/Originals'}">
                        <a href="{{reference.contents}}" target="_blank">
                            <span class="glyphicon glyphicon-picture"></span>Image {{reference.id}}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>