<div class="row">
    <div class="sidebar-menu artefact-menu col-lg-2 col-md-3 col-sm-4 col-xs-12 col-lg-offset-1 col-md-offset-1">
        <div class="case-study-flag pull-left" ng-if="$ctrl.artefact.caseStudy">
            <h4><i class="glyphicon glyphicon-star"></i>Case Study</h4>
        </div>
        <h1>{{$ctrl.artefact.simpleName}}</h1>
        <h4>{{$ctrl.artefact.category.name}}</h4>
        <small>{{$ctrl.artefact.accession}}</small>
        <hr>
        <dl>
            <dt ng-if="$ctrl.artefact.description">Description</dt>
            <dd ng-if="$ctrl.artefact.description">{{$ctrl.artefact.description}}</dd>
            <dt>Origin</dt>
            <dd>{{$ctrl.artefact.findLocation.subtitle}}</dd>
            <dt>Period</dt>
            <dd>{{$ctrl.artefact.periods[0].name}}<br>({{$ctrl.artefact.periods[0].display}})</dd>
            <dt>Materials</dt>
            <dd>
                <ul class="materials list-unstyled">
                    <li ng-repeat="material in $ctrl.artefact.materials">{{material.name}}</li>
                </ul>
            </dd>
            <dt>Current Location</dt>
            <dd>{{$ctrl.artefact.currentLocation.subtitle}}</dd>
            <dt ng-if="$ctrl.artefact.references && $ctrl.artefact.references.length > 0">References</dt>
            <dd ng-if="$ctrl.artefact.references && $ctrl.artefact.references.length > 0">
                <ul class="references list-unstyled">
                    <li data-ng-repeat="reference in $ctrl.artefact.references">
                        <small><i>{{reference.contents}}</i></small>
                    </li>
                </ul>
            </dd>
        </dl>
        <button class="btn open-case-study" ng-if="$ctrl.artefact.caseStudy" ng-click="$ctrl.openModal($ctrl.artefact)">
            <i class="glyphicon glyphicon-new-window"></i> View Case Study
        </button>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-12">
        <div class="images">
            <div uib-carousel active="0" no-wrap="true">
                <div uib-slide ng-repeat="image in $ctrl.artefact.images track by image.id" index="$index">
                    <img ng-src="{{image.contents}}" alt="$index">
                </div>
            </div>
        </div>
    </div>
</div>
