<div class="row">
    <div class="sidebar-menu artefact-menu col-lg-2 col-md-3 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <h1>{{$ctrl.artefact.simpleName}}</h1>
        <h4>{{$ctrl.artefact.category.name}}</h4>
        <small>{{$ctrl.artefact.accession}}</small>
        <hr>
        <dl>
            <dt ng-if="$ctrl.artefact.description">Description</dt>
            <dd ng-if="$ctrl.artefact.description">{{$ctrl.artefact.description}}</dd>
            <dt>Origin</dt>
            <dd>{{$ctrl.artefact.findLocation.subtitle}}</dd>
            <dt>Period</dt>
            <dd>{{$ctrl.artefact.periods[0].name}}<br>({{$ctrl.artefact.periods[0].display}})</dd>
            <dt>Materials</dt>
            <dd>
                <ul class="materials list-unstyled">
                    <li ng-repeat="material in $ctrl.artefact.materials">{{material.name}}</li>
                </ul>
            </dd>
            <dt>Current Location</dt>
            <dd>{{$ctrl.artefact.currentLocation.subtitle}}</dd>
            <dt ng-if="$ctrl.artefact.references && $ctrl.artefact.references.length > 0">References</dt>
            <dd ng-if="$ctrl.artefact.references && $ctrl.artefact.references.length > 0">
                <ul class="references list-unstyled">
                    <li data-ng-repeat="reference in $ctrl.artefact.references">
                        <small><i>{{reference.contents}}</i></small>
                    </li>
                </ul>
            </dd>
        </dl>
        <!--<section class="search-filters">-->
            <!--<uib-accordion close-others="true">-->
                <!--<div uib-accordion-group class="panel-default accordion" heading="Case Study" ng-if="$ctrl.artefact.caseStudy">-->
                    <!--<dl class="case-study list-unstyled">-->
                        <!--<dt data-ng-repeat-start="property in $ctrl.artefact.caseStudy">{{property.name}}</dt>-->
                        <!--<dd data-ng-repeat-end>{{property.value}}</dd>-->
                    <!--</dl>-->
                <!--</div>-->
                <!--<div uib-accordion-group class="panel-default accordion" heading="References" ng-if="$ctrl.artefact.references && $ctrl.artefact.references.length > 0">-->
                    <!---->
                <!--</div>-->
            <!--</uib-accordion>-->
        <!--</section>-->
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-4 col-sm-offset-7 col-xs-12">
        <div class="images">
            <div uib-carousel active="0" no-wrap="true">
                <div uib-slide ng-repeat="image in $ctrl.artefact.images track by image.id" index="$index">
                    <img ng-src="{{image.contents}}" alt="$index">
                </div>
            </div>
        </div>
    </div>
</div>
