.artefact-menu {

  .case-study-flag {
    background-color: $accentColor;
    color: white;
    margin-left: -15px;
    margin-top: -35px;
    padding: 0 15px;

    i {
      padding-right: 10px;
    }
  }

  dd {
    margin-bottom: 10px;

    ul {
      margin: 0;
    }
  }

  .references {
    li {
      margin-bottom: 5px;
    }
  }

  .open-case-study {
    border-radius: 0;
    background-color: $accentColor;
    color: white;

    i {
      padding-right: 10px;
    }
  }
}

.images {
  margin-top: 50px;
  background-color: white;
  padding: 10px 10px 60px 10px;

  img {
    width: 100%;
  }

  .carousel-control {
    background-image: none;
  }

  .carousel-indicators {
    bottom: -50px;

    li {
      border-color: $accentColor;

      &.active {
        background-color: $accentColor
      }
    }
  }
}

.case-study-modal {
  .modal-header {

    border-bottom: none;

    h1 {
      margin-top: 0;
    }
  }

  .modal-body {
    padding: 0;

    .nav-tabs {

      border-bottom: 1px solid #e5e5e5;

      .nav-item {
        a {
          border: none;
          border-radius: 0;
          border-bottom: 4px solid white;
          color: $fontColor;

          &:active, &:hover, &:focus {
            color: $fontColor;
            text-decoration: none;
            background-color: white;
          }
        }

        &.active a {
          background-color: white;
          color: $fontColor;
          border-bottom: 4px solid $accentColor;
        }
      }
    }

    .tab-content {
      padding: 30px;

      dd {
        text-transform: capitalize;
      }
    }
  }
}


