<div class="row">
    <div class="search-menu col-lg-2 col-md-3 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <form class="form-horizontal" role="form" data-ng-submit="$ctrl.search()">
            <div class="input-group">
                <!--<span class="input-group-btn">
                    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#search-help"><span class="glyphicon glyphicon-question-sign"></span></button>
                </span>-->
                <input type="text" class="form-control" placeholder="Search" data-ng-model="$ctrl.keyword">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
            </div>
        </form>
        <section class="search-filters">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default accordion" heading="Categories">
                    <ul class="categories list-unstyled">
                        <li data-ng-repeat="category in $ctrl.categories track by category.id">
                            <div class="checkbox">
                                <input type="checkbox" ng-click="$ctrl.search()" name="category-{{category.id}}" value="{{category.id}}" data-ng-model="$ctrl.selectedCategories[category.id]"/>
                                <label>
                                    {{category.name}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div uib-accordion-group class="panel-default accordion" heading="Materials">
                    <ul class="materials list-unstyled">
                        <li data-ng-repeat="material in $ctrl.materials track by material.id">
                            <div class="checkbox">
                                <input type="checkbox" ng-click="$ctrl.search()" name="material-{{material.id}}" value="{{material.id}}" data-ng-model="$ctrl.selectedMaterials[material.id]"/>
                                <label>
                                    {{material.name}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div uib-accordion-group class="panel-default accordion" heading="Periods">
                    <ul class="categories list-unstyled">
                        <li data-ng-repeat="period in $ctrl.periods track by period.id">
                            <div class="checkbox">
                                <input type="checkbox" ng-click="$ctrl.search()" name="period-{{period.id}}" value="{{period.id}}" data-ng-model="$ctrl.selectedPeriods[period.id]"/>
                                <label>
                                    {{period.name}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </uib-accordion>
            <ul class="list-unstyled">
               <li>
                    <div class="checkbox">
                        <input type="checkbox" ng-click="$ctrl.search()" value="hasDescription" data-ng-model="$ctrl.hasDescription">
                        <label>
                            Has Description
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <input type="checkbox" ng-click="$ctrl.search()" value="hasReference" data-ng-model="$ctrl.hasReferences">
                        <label>
                            Has References
                        </label>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <div class="search-results col-lg-8 col-md-7 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-4 col-sm-offset-7">
        <div class="artefact-list">
            <div class="col-lg-4 col-md-6 col-sm-12" data-ng-repeat="artefact in $ctrl.artefacts">
                <div class="artefact-thumbnail">
                    <a href="/#!/artefact/{{artefact._id}}">
                        <img data-ng-show="artefact.thumbnail" src="{{artefact.thumbnail}}" alt="{{artefact.simpleName}}">
                        <img data-ng-hide="artefact.thumbnail" src="/assets/images/no-image.jpg" alt="{{artefact.simpleName}}">
                        <h4>{{artefact.simpleName}}</h4>
                        <h6>{{artefact.findLocation.title}}</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination col-lg-7 col-md-6 col-sm-6 col-xs-12">
        <h1 class="text-center" data-ng-hide="!artefacts || artefacts.length">No artefacts yet.</h1>
    </div>
</div>
<script type="text/ng-template" id="categories.html">
    <div class="modal-header">
        <h3>Categories</h3>
    </div>
    <div class="modal-body">
        <ul class="categories list-unstyled">
            <li data-ng-repeat="category in categories track by category.id">
                <label>
                    <input type="checkbox" name="category-{{category.id}}" value="{{category.id}}" data-ng-model="global.selectedCategories[category.id]"/> {{category.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="materials.html">
    <div class="modal-header">
        <h3>Materials</h3>
    </div>
    <div class="modal-body">
        <ul class="categories list-unstyled">
            <li data-ng-repeat="material in materials track by material.id">
                <label>
                    <input type="checkbox" name="material-{{material.id}}" value="{{material.id}}" data-ng-model="global.selectedMaterials[material.id]"/> {{material.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="periods.html">
    <div class="modal-header">
        <h3>Periods</h3>
    </div>
    <div class="modal-body">
        <ul class="categories list-unstyled">
            <li data-ng-repeat="period in periods track by period.id">
                <label>
                    <input type="checkbox" name="period-{{period.id}}" value="{{period.id}}" data-ng-model="global.selectedPeriods[period.id]"/> {{period.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>

