.search-menu {

  .input-group {
    margin-bottom: 15px;

    .form-control:first-child {
      border-radius: 0;
    }

    .input-group-btn:last-child > .btn{
      border-radius: 0;
      background-color: $accentColor;
      color: white;
    }
  }

  .search-filters {
    .accordion {
      border-radius: 0;
      border: none;
      box-shadow: none;

      .panel-heading {
        background-color: white;
        padding: 0;
        border-bottom: 2px solid white;

        .panel-title a {
          display: block;
          padding: 10px 15px;

          &:hover, &:active, &:focus {
            text-decoration: none;
          }
        }
      }

      .panel-body {
        border: none;
        background-color: white;
        padding-top: 0;
      }

      &.panel-open {
        .panel-heading {
          border-bottom: 2px solid $accentColor;
        }
      }
    }
  }
}

.search-results {

  margin-top: 50px;

  .artefact-thumbnail {
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    min-height: 220px;

    a {
      color: $fontColor;
      display: block;

      &:active, &:focus {
        color: $fontColor;
      }

      &:hover {
        color: $accentColor;
      }

      img {
        width: 100%;
      }

      h4 {
        margin: 0;
        line-height: 30px;
      }

      h6 {
        margin: 0;
        line-height: 20px;
        font-weight: 600;
      }
    }


  }
}