<section>
    <div class="row">
        <section class="col-md-4 col-md-offset-4 search-form">
            <form class="form-horizontal" role="form" data-ng-submit="search()">
                <div class="input-group">
                    <!--<span class="input-group-btn">
                        <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#search-help"><span class="glyphicon glyphicon-question-sign"></span></button>
                    </span>-->
                    <input type="text" class="form-control input-lg" placeholder="Search" data-ng-model="search.keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </section>
    </div>
    <div class="row">
        <section class="col-md-2 col-md-offset-2 search-filters">
            <ul class="list-unstyled">
                <li>
                    <a data-ng-click="categories()">
                        <h4><span class="glyphicon glyphicon-tags"></span>Categories</h4>
                    </a>
                </li>
                <li>
                    <a data-ng-click="materials()">
                        <h4><span class="glyphicon glyphicon-th"></span>Materials</h4>
                    </a>
                </li>
                <li>
                    <a data-ng-click="periods()">
                        <h4><span class="glyphicon glyphicon-bookmark"></span>Periods</h4>
                    </a>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="hasDescription" data-ng-model="global.hasDescription">
                            Must Have Description
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="hasReference" data-ng-model="global.hasReference">
                            Must Have References
                        </label>
                    </div>
                </li>
            </ul>
            <ul class="selected-categories">
                <li data-ng-repeat="category in global.selectedCategories">
                    {{category}}
                </li>
            </ul>
        </section>
        <section class="col-md-6 search-results">
            <div class="artefact-list">
                <div class="artefact-thumbnail clearfix" data-ng-repeat="artefact in artefacts">
                    <a href="/#!/artefact/{{artefact.id}}">
                        <img data-ng-show="artefact.thumbnail" src="{{artefact.thumbnail}}" alt="{{artefact.simpleName}}">
                        <div data-ng-hide="artefact.thumbnail" class="no-image">No Image</div>
                        <h3>{{artefact.simpleName}}</h3>
                        <h5>{{artefact.findLocation.subtitle}}</h5>
                    </a>
                </div>
            </div>
            <div data-ng-click="nextPage()" class="fetch-more btn btn-default">Load More Results</div>
            <h1 data-ng-hide="!artefacts || artefacts.length">No artefacts yet.</h1>
        </section>
    </div>
</section>
<script type="text/ng-template" id="categories.html">
    <div class="modal-header">
        <h3>Categories</h3>
    </div>
    <div class="modal-body">
        <ul class="categories list-unstyled">
            <li data-ng-repeat="category in categories track by category.id">
                <label>
                    <input type="checkbox" name="category-{{category.id}}" value="{{category.id}}" data-ng-model="global.selectedCategories[category.id]"/> {{category.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="materials.html">
    <div class="modal-header">
        <h3>Materials</h3>
    </div>
    <div class="modal-body">
        <ul class="categories list-unstyled">
            <li data-ng-repeat="material in materials track by material.id">
                <label>
                    <input type="checkbox" name="material-{{material.id}}" value="{{material.id}}" data-ng-model="global.selectedMaterials[material.id]"/> {{material.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="periods.html">
    <div class="modal-header">
        <h3>Periods</h3>
    </div>
    <div class="modal-body">
        <ul class="categories list-unstyled">
            <li data-ng-repeat="period in periods track by period.id">
                <label>
                    <input type="checkbox" name="period-{{period.id}}" value="{{period.id}}" data-ng-model="global.selectedPeriods[period.id]"/> {{period.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>

